{% extends "layout.html" %}
<style>
    h2 {
        margin-top: 0;
        color: #444;
    }

    #about {
        background-color: #e6dada;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
</style>
</head>
{% block body %}
{% endblock %}

<div id="aboutme">
    <h2>About Me</h2>
    <div id="intro">
        </p>I am Mariyala Rohith <br>
        Present I am persuing my B.Tech in Computer Science and Engineering at Gokaraju Rangaraju Institute of
        Engineering and Technology. <br>
        </p>
        <p id="professionalInterests">

        </p>
    </div>
    <div id="about">
        <p>
            I love coding and I get exited when I learn new technologies. I learn fast which helps me keep up with
            changes in technology <br>
            I work well in a team and I don't get scared by pressure, instead, I see it as a challenge to beat. <br>
            I'm good at solving problems and I'm always looking for new ways to improve my skills. <br>
            I'm a good listener and I'm always open to new ideas. <br>
            I'm a good communicator and I'm always ready to help others. <br>
            And I'm proud that I can come up with create solutions to problems. <br>
        </p>
        <p>In one sentence I'm a <italic>A passionate and fast-learning coder, who thrives under pressure, excels in
                problem-solving, constantly seeks skill improvement, listens and communicates effectively, and takes
                pride in creating innovative solutions</italic>
        </p>
    </div>
    <h2>Professional Interests</h2>
    <ul>
        <li>Web Development</li>
        <li>Machine Learning</li>
        <li>Artificial Intelligence</li>
    </ul>
</div>
</body>

</html>