<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohith's projects</title>

    <style>
        nav a {
            text-decoration: none;
            color: black;
            background-color: #f2f2f2;
            padding: 10px;
            margin-radius: 10px;
            border-radius: 5px;
        }

        nav {
            padding-left:800px;
        }

        a {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

    <nav>
        <a href="index1.html" id="home">Home</a>
        <a href="about.html" id="about">About</a>
        <a href="skills.html" id="skills">Skills</a>
        <a href="projects.html" id="projects">Projects</a>
        <a href="contact.html" id="contact">Contact</a>
    </nav>
    <br>

    <div id="projects">
        <h1>Projects</h1>
        <p>My projects are made using multiple programming and scripting languages</p>
        <div id="p1">
            <h2 onclick="toggleProjectDetails('p1-datails')">Voting System</h2>
            <div id="p1-details" class="project-details">
                <h3>Skills</h3>
                <li>C</li>
                <h3>Description</h3>
                <p>It is a simple voting system made using C language. This is my first project built by me in my B-Tech
                    1st
                    year.<br>
                    How it works is that it contains all the roll numbers of student and when the student enters his
                    roll
                    number it will validate the roll number and then the program will ask the student to select the
                    candidate to vote for. After the student selects the candidate the program will increment the vote
                    count
                    of the candidate and then the program will display the candidate who got the highest votes.<br>
                    One student can vote only once and the student can't vote for himself. <br>
                    This project is made to understand the basics of C language and to understand the concepts of arrays
                    and
                    loops.
                </p>
                <p>Here is the source <a href="https://github.com/mrohith29/voting-system">Code</a> for it</p>
            </div>
        </div>

        <div id="p2">
            <h2 onclick="toggleProjectDetails('p2-datails')">Task Manager</h2>
            <div id="p2-details" class="project-details">
                <h3>Skills</h3>
                <li>C(data structures)</li>
                <h3>Description</h3>
                <p>It is a simple task manager made using C language. This is my second project built by me in my B-Tech
                    1st
                    year.<br>
                    How it works is that it contains all the tasks and their priorities. The program will display the
                    tasks
                    and their priorities and the user can add a new task and the program will add the task to the list
                    of
                    tasks and the user can delete the task and the program will delete the task from the list of tasks.
                    <br>
                    This project is made to understand the concepts of data structures and to understand the concepts of
                    linked lists.
                </p>
                <p>Here is the source <a href="https://github.com/mrohith29/DS-project">Code</a> for it</p>
            </div>
        </div>

        <div id="p3">
            <h2 onclick="toggleProjectDetails('p3-details')">Matrix Operations Using Threads</h2>
            <div id="p3-details" class="project-details">
                <h3>Skills</h3>
                <li>Java</li>
                <h3>Description</h3>
                <p>
                    It is a simple project made using Java language. This is my third project built by me in my B-Tech
                    2nd
                    year.<br>
                    How it works is that it contains all the matrix operations like addition, subtraction, and
                    multiplication.<br>
                    It have a pretty go interface build using javax package and the program will ask the users to enter
                    the
                    matrix and then the program will perform the operations and display the result.<br>
                    This project is made to understand the concepts of threads and to understand the concepts of GUI.
                </p>
                <p>Here is the source <a
                        href="https://github.com/mrohith29/Matrix-Operations-with-Threads/tree/master">Code</a> for it
                </p>
            </div>
        </div>

        <div id="p4">
            <h2 onclick="toggleProjectDescription('p4-details')">JS clock</h2>
            <div id="p4-details" class="project-details">
                <h3>Skills</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>

                <h3>Description</h3>
                <p>
                    It is a simple project made using HTML, CSS, and JavaScript. This is my fourth project built by me
                    in my
                    B-Tech 2nd year.<br>
                    How it works is that it contains a clock and the clock will display the current time and the clock
                    will
                    update the time every second.<br>
                    This project is made to understand the concepts of HTML, CSS, and JavaScript.
                </p>
                <p>Here is the source <a href="https://github.com/mrohith29/JS-clock">Code</a> for it</p>
                <p>Deployed version can be seen <a href="https://rohithmariyala.me/JS-clock/">here</a></p>
            </div>
        </div>

        <div id="p5">
            <h2 onclick="toggleProjectDetails('p5-details')">Covid19 analysis</h2>
            <div id="p5-details" class="project-details">
                <h3>Skills</h3>
                <li>R</li>
                <h3>Description</h3>
                <p>
                    It is a simple project made using R language. This is my fifth project built by me in my B-Tech 2rd
                    year.<br>
                    How it works is that it contains the analysis of the covid19 data and the program will display the
                    analysis of the covid19 data.<br>
                    This project is made to understand the concepts of R language and to understand the concepts of data
                    analysis. <br>
                </p>
                <p>Here is the source <a href="https://github.com/mrohith29/Covid19-Analysis">Code</a> for it</p>
            </div>
        </div>

        <div id="p6">
            <h2 onclick="toggleProjectDetails('p6-details')">Web Mode Switcher</h2>
            <div id="p6-details" class="project-details">
                <h3>Skills</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>

                <h3>Description</h3>
                <p>
                    It is a simple project made using HTML, CSS, and JavaScript. This is my sixth project built by me in
                    my
                    B-Tech 2nd year.<br>
                    How it works is that it contains a button and when the user clicks the button the program will
                    change
                    the mode of the website from light mode to dark mode and vice versa.<br>
                    This project is made to understand the concepts of HTML, CSS, and JavaScript.
                </p>
                <p>Here is the source <a href="https://github.com/mrohith29/Web-mode-Switcher/deployments">Code</a> for
                    it
                </p>

                <p>Deployed version can be seen <a href="https://rohithmariyala.me/Web-mode-Switcher/">here</a></p>
            </div>
        </div>

        <div id="p7">
            <h2 onclick="toggleProjectDetails('p7-details')">ListRevFunctions</h2>
            <div id="p7-details" class="project-details">
                <h3>Skills</h3>
                <li>Python</li>

                <h3>Description</h3>
                <p>
                    It is a simple project made using Python language. This is my seventh project built by me in my
                    B-Tech
                    2nd year.<br>
                    How it works is that it contains two lists and the program will reverse the second list and perform
                    the
                    operations like addition, subtraction, multiplication, division, power, floor division, and & or
                    operation on each element of the lists.<br>
                    This project is made to understand the concepts of Python language and packages.
                    I have published this package to the python package index and it can be installed using pip.
                </p>

                <p>Here is the source <a href="https://github.com/mrohith29/ListRevFunctions">Code</a> for it</p>

                <p>You can see the published version <a href="https://pypi.org/project/ListRevFunctions/">here</a> </p>
            </div>
        </div>

        <div id="p8">
            <h2 onclick="toggleProjectDetails('p8-details')">copyfolder</h2>
            <div id="p8-details" class="project-details">
                <h3>Skills</h3>
                <li>Python</li>

                <h3>Description</h3>
                <p>
                    It is a CLI (Command Line Interface) project made using Python language. This is my eighth project
                    built
                    by me in my B-Tech 2nd year.<br>
                    How it works is that when the users gives the command "move foldername destination-address" then the
                    program will move the folder/ file to the destination address.<br>
                    This project is made to understand the concepts of Python language and to understand the concepts of
                    CLI.
                    I have published this CLI to the test Pypi and it can be installed using pip.
                </p>

                <p>Here is the source <a href="https://github.com/mrohith29/copyfolder">Code</a> for it</p>

                <p>You can see the published version <a href="https://test.pypi.org/project/copyfolder/">here</a></p>
            </div>
        </div>
    </div>
</body>
</html>