---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Mariyala Rohith";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img
            width="30%"
            style="border-radius: 50%;"
            alt="mypic"
            src="/profilepic.webp"
            loading="lazy"
        />
    </div>
    <h2>Mariyala Rohith</h2>
    <!-- <pre> 
     __  ___                    _                      __                   ____            __      _    __     __  
    /  |/  /  ____ _   _____   (_)   __  __  ____ _   / /  ____ _          / __ \  ____    / /_    (_)  / /_   / /_ 
   / /|_/ /  / __ `/  / ___/  / /   / / / / / __ `/  / /  / __ `/         / /_/ / / __ \  / __ \  / /  / __/  / __ \
  / /  / /  / /_/ /  / /     / /   / /_/ / / /_/ /  / /  / /_/ /         / _, _/ / /_/ / / / / / / /  / /_   / / / /
 /_/  /_/   \__,_/  /_/     /_/    \__, /  \__,_/  /_/   \__,_/         /_/ |_|  \____/ /_/ /_/ /_/   \__/  /_/ /_/ 
                                  /____/                                                                            
    </pre> -->

    <span class="badge">Student (Developer)</span>
    <h3 id="greetings">
        Hello and welcome<h3>
            <p>
                I am a
                <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="22"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="m3 2 1.578 17.824L12 22l7.467-2.175L21 2H3Zm14.049 6.048H9.075l.172 2.016h7.697l-.626 6.565-4.246 1.381-4.281-1.455-.288-2.932h2.024l.16 1.411 2.4.815 2.346-.763.297-3.005H7.416l-.562-6.05h10.412l-.217 2.017Z"
                    ></path>
                </svg>
                Frontend Developer and does problem solving using
                <svg
                    height="24"
                    width="24"
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 502.632 502.632"
                    xml:space="preserve"
                    fill="#aa0909"
                    stroke="#aa0909"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <g>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M240.864,269.894c0,0-28.02-53.992-26.985-93.445c0.755-28.193,64.324-56.062,89.281-96.529 C328.074,39.431,300.054,0,300.054,0s6.234,29.077-10.376,59.147c-16.609,30.113-77.914,47.779-101.749,99.679 S240.864,269.894,240.864,269.894z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M345.741,105.869c0,0-95.494,36.347-95.494,77.849c0,41.545,25.928,55.027,30.113,68.509 c4.142,13.525-7.269,36.347-7.269,36.347s37.361-25.95,31.105-56.062c-6.234-30.113-35.29-39.475-18.659-69.544 C296.646,142.799,345.741,105.869,345.741,105.869z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M230.51,324.748c88.246-3.149,120.43-30.997,120.43-30.997 c-57.076,15.553-208.654,14.539-209.711,3.128c-1.014-11.411,46.701-20.773,46.701-20.773s-74.721,0-80.955,18.68 C100.74,313.467,142.328,327.833,230.51,324.748z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M358.187,368.494c0,0,86.369-18.421,77.827-65.338c-10.354-57.119-70.58-24.936-70.58-24.936 s42.602,0,46.722,25.928C416.32,330.098,358.187,368.494,358.187,368.494z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M315.628,343.601c0,0-21.765,5.716-54.013,9.34c-43.228,4.853-95.494,1.014-99.657-6.256 c-4.098-7.269,7.269-11.411,7.269-11.411c-51.921,12.468-23.512,34.233,37.339,38.418c52.158,3.559,129.791-15.574,129.791-15.574 L315.628,343.601z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M181.738,388.943c0,0-23.555,0.669-24.936,13.137c-1.359,12.382,14.496,23.512,72.65,26.964 c58.133,3.451,98.988-15.898,98.988-15.898l-26.295-15.962c0,0-16.631,3.494-42.236,6.946 c-25.626,3.473-78.173-2.783-80.243-7.593C177.553,391.682,181.738,388.943,181.738,388.943z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M407.994,445.005c8.995-9.707-2.783-17.321-2.783-17.321s4.142,4.853-1.337,10.376 c-5.544,5.522-56.084,19.349-137.061,23.512c-80.955,4.163-168.856-7.615-171.639-17.99 c-2.696-10.376,45.018-18.659,45.018-18.659c-5.522,0.69-71.96,2.071-74.074,20.082c-2.071,17.968,29.056,32.507,153.67,32.507 C344.339,477.491,399.042,454.647,407.994,445.005z"
                                ></path>
                                <path
                                    style="fill:#e8e8e8;"
                                    d="M359.568,485.817c-54.682,11.044-220.734,4.077-220.734,4.077s107.919,25.626,231.109,4.185 c58.888-10.268,62.318-38.763,62.318-38.763S414.25,474.708,359.568,485.817z"
                                ></path>
                            </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                            <g> </g>
                        </g>
                    </g></svg
                >
                Java and
                <svg
                    fill="#ffffff"
                    width="24px"
                    height="24px"
                    viewBox="0 0 32 32"
                    id="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                }
                            </style>
                        </defs>
                        <title>logo--python</title>
                        <path
                            id="compound_path"
                            data-name="compound path"
                            d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z"
                            transform="translate(0 0)"></path>
                        <path
                            id="inner_path"
                            data-name="inner path"
                            class="cls-1"
                            d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z"
                            transform="translate(0 0)"></path>
                        <path
                            id="compound_path-2"
                            data-name="compound path"
                            d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z"
                            transform="translate(0 0)"></path>
                        <path
                            id="inner_path-2"
                            data-name="inner path"
                            class="cls-1"
                            d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z"
                            transform="translate(0 0)"></path>
                        <rect
                            id="_Transparent_Rectangle_"
                            data-name="<Transparent Rectangle>"
                            class="cls-1"
                            width="32"
                            height="32"></rect>
                    </g></svg
                >
                Python
            </p>

            <p>
                I entertain myself by
                <svg
                    fill="#ffffff"
                    height="24"
                    width="24"
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="-51.2 -51.2 614.40 614.40"
                    xml:space="preserve"
                    transform="rotate(0)matrix(-1, 0, 0, 1, 0, 0)"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <g>
                                <path
                                    d="M468.32,53.08H43.68C19.595,53.08,0,72.675,0,96.76V415.24c0,24.085,19.595,43.68,43.68,43.68H468.32 c24.085,0,43.68-19.595,43.68-43.68V96.76C512,72.675,492.405,53.08,468.32,53.08z M495.413,415.24 c0,14.939-12.154,27.093-27.093,27.093H43.68c-14.939,0-27.093-12.154-27.093-27.093V140.441h478.825V415.24z M495.413,123.853 H16.587V96.76c0-14.939,12.154-27.093,27.093-27.093H468.32c14.939,0,27.093,12.154,27.093,27.093V123.853z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M61.374,88.467h-8.847c-4.58,0-8.294,3.713-8.294,8.294c0,4.58,3.713,8.294,8.294,8.294h8.847 c4.58,0,8.294-3.713,8.294-8.294C69.667,92.18,65.954,88.467,61.374,88.467z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M96.76,88.467h-8.847c-4.58,0-8.294,3.713-8.294,8.294c0,4.58,3.713,8.294,8.294,8.294h8.847 c4.58,0,8.294-3.713,8.294-8.294C105.054,92.18,101.341,88.467,96.76,88.467z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M132.147,88.467H123.3c-4.58,0-8.294,3.713-8.294,8.294c0,4.58,3.713,8.294,8.294,8.294h8.847 c4.58,0,8.294-3.713,8.294-8.294C140.441,92.18,136.727,88.467,132.147,88.467z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M134.321,291.387l57.148-65.312c3.016-3.448,2.666-8.687-0.781-11.704c-3.447-3.016-8.686-2.667-11.703,0.781 l-61.927,70.773c-2.736,3.127-2.736,7.796,0,10.923l61.927,70.773c1.64,1.873,3.937,2.832,6.245,2.832 c1.939,0,3.885-0.676,5.458-2.051c3.447-3.017,3.796-8.256,0.781-11.703L134.321,291.387z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M394.942,285.923l-61.927-70.771c-3.017-3.447-8.256-3.796-11.703-0.781c-3.447,3.017-3.796,8.256-0.781,11.703 l57.148,65.312l-57.148,65.312c-3.017,3.448-2.667,8.686,0.781,11.703c1.574,1.377,3.52,2.051,5.458,2.051 c2.308,0,4.606-0.959,6.245-2.832l61.927-70.773C397.678,293.719,397.678,289.05,394.942,285.923z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M294.606,204.123c-4.224-1.777-9.086,0.205-10.863,4.424L212.97,376.634c-1.777,4.222,0.203,9.084,4.424,10.863 c1.052,0.442,2.142,0.652,3.215,0.652c3.237,0,6.312-1.908,7.648-5.077l70.773-168.086 C300.808,210.764,298.827,205.9,294.606,204.123z"
                                ></path>
                            </g>
                        </g>
                    </g></svg
                >
                coding cool stuff, watching
                <svg
                    fill="#ffffff"
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24"
                    height="24"
                    viewBox="0 0 96.875 96.875"
                    xml:space="preserve"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M95.201,25.538c-1.186-5.152-5.4-8.953-10.473-9.52c-12.013-1.341-24.172-1.348-36.275-1.341 c-12.105-0.007-24.266,0-36.279,1.341c-5.07,0.567-9.281,4.368-10.467,9.52C0.019,32.875,0,40.884,0,48.438 C0,55.992,0,64,1.688,71.336c1.184,5.151,5.396,8.952,10.469,9.52c12.012,1.342,24.172,1.349,36.277,1.342 c12.107,0.007,24.264,0,36.275-1.342c5.07-0.567,9.285-4.368,10.471-9.52c1.689-7.337,1.695-15.345,1.695-22.898 C96.875,40.884,96.889,32.875,95.201,25.538z M35.936,63.474c0-10.716,0-21.32,0-32.037c10.267,5.357,20.466,10.678,30.798,16.068 C56.434,52.847,46.23,58.136,35.936,63.474z"
                            ></path>
                        </g>
                    </g></svg
                >
                Youtube,
                <svg
                    fill="#ffffff"
                    height="24"
                    width="24"
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 285 285"
                    xml:space="preserve"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <g>
                                <path
                                    d="M272.046,29.15H12.954C5.798,29.15,0,34.945,0,42.101v161.926c0,7.162,5.798,12.951,12.954,12.951h116.592v12.958H61.534 c-7.153,0-12.955,5.808-12.955,12.951c0,7.168,5.802,12.963,12.955,12.963h161.933c7.152,0,12.954-5.795,12.954-12.963 c0-7.144-5.802-12.951-12.954-12.951h-68.013v-12.958h116.592c7.156,0,12.954-5.789,12.954-12.951V42.101 C285,34.945,279.202,29.15,272.046,29.15z M259.092,191.07H25.909V55.052h233.183V191.07z"
                                ></path>
                                <path
                                    d="M183.942,141.548c0.399,0.167,0.819,0.248,1.237,0.248c0.881,0,1.744-0.359,2.369-1.033l5.13-5.504l8.269,22.705 c0.479,1.323,1.723,2.146,3.043,2.146c0.365,0,0.742-0.067,1.107-0.21c1.683-0.6,2.548-2.468,1.933-4.15l-8.263-22.705 l7.468,0.916c1.345,0.204,2.647-0.52,3.269-1.713c0.625-1.206,0.436-2.666-0.47-3.667l-20.364-22.587 c-0.878-0.977-2.276-1.323-3.513-0.866c-1.24,0.445-2.081,1.608-2.125,2.925l-1.085,30.387 C181.895,139.791,182.692,141.035,183.942,141.548z"
                                ></path>
                                <path
                                    d="M55.596,123.172l39.923-34.338l39.933,34.338c0.798,0.693,1.788,1.039,2.783,1.039c1.2,0,2.388-0.507,3.232-1.497 c1.537-1.781,1.336-4.484-0.449-6.024L98.305,79.97c-1.602-1.379-3.964-1.379-5.569,0l-42.707,36.72 c-1.791,1.54-1.989,4.243-0.452,6.024C51.112,124.527,53.809,124.719,55.596,123.172z"
                                ></path>
                                <path
                                    d="M97.384,94.289c-1.07-0.916-2.656-0.916-3.723,0l-32.177,27.77c-0.627,0.538-1.002,1.324-1.002,2.152v40.14 c0,1.571,1.293,2.852,2.848,2.852h64.366c1.577,0,2.852-1.28,2.852-2.852v-40.14c0-0.829-0.362-1.614-0.98-2.152L97.384,94.289z M92.671,154.61c0,1.571-1.271,2.852-2.845,2.852h-9.96c-1.577,0-2.845-1.28-2.845-2.852v-9.964c0-1.596,1.268-2.864,2.845-2.864 h9.96c1.574,0,2.845,1.268,2.845,2.864V154.61z M92.671,133.254c0,1.565-1.271,2.845-2.845,2.845h-9.96 c-1.577,0-2.845-1.28-2.845-2.845v-9.982c0-1.571,1.268-2.845,2.845-2.845h9.96c1.574,0,2.845,1.274,2.845,2.845V133.254z M114.031,154.61c0,1.571-1.271,2.852-2.848,2.852h-9.967c-1.562,0-2.848-1.28-2.848-2.852v-9.964 c0-1.596,1.287-2.864,2.848-2.864h9.967c1.577,0,2.848,1.268,2.848,2.864V154.61z M114.031,133.254 c0,1.565-1.271,2.845-2.848,2.845h-9.967c-1.562,0-2.848-1.28-2.848-2.845v-9.982c0-1.571,1.287-2.845,2.848-2.845h9.967 c1.577,0,2.848,1.274,2.848,2.845V133.254z"
                                ></path>
                            </g>
                        </g>
                    </g></svg
                >
                Suffering the web for cool things. Continuously updating myself with
                new
                <svg
                    fill="#ffffff"
                    width="24"
                    height="24"
                    viewBox="0 0 35 35"
                    data-name="Layer 2"
                    id="a1601ee4-9861-40f7-9d22-1715f3ba9d62"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                        ><path
                            d="M28.272,27.7H6.729A4.2,4.2,0,0,1,2.537,23.5V5.782A4.2,4.2,0,0,1,6.729,1.59H28.272a4.2,4.2,0,0,1,4.191,4.192V23.5A4.2,4.2,0,0,1,28.272,27.7ZM6.729,4.09A1.694,1.694,0,0,0,5.037,5.782V23.5A1.694,1.694,0,0,0,6.729,25.2H28.272A1.694,1.694,0,0,0,29.963,23.5V5.782A1.694,1.694,0,0,0,28.272,4.09Z"
                        ></path><path
                            d="M33.5,33.41H1.5a1.25,1.25,0,1,1,0-2.5h32a1.25,1.25,0,1,1,0,2.5Z"
                        ></path></g
                    ></svg
                >
                technology and what not
            </p>
            <div class="center">
                <a href="rohithmariyala.netlify.app/resume">
                    <button class="btn">My Resume</button>
                </a>
            </div>
            <h2>Skills</h2>
            <div class="skills center">
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="HTML"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="JAVA"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="PYTHON"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="C"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="CSS"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="JavaScript"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
                />
                <img
                    class="skills__img"
                    width="46"
                    height="46"
                    alt="Git"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
                />
            </div>
            <h2>Interests</h2>
            <p>
                I am open to collaborating on open source projects. I believe in
                the power of community and shared knowledge, and I am always
                eager to contribute to projects that can benefit others. Whether
                it's fixing bugs, adding new features, or improving
                documentation, ready to help make open source software even
                better.
            </p>
        </h3>
    </h3>
    <div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src =
                    "https://embed.tawk.to/66c03f870cca4f8a7a77030d/1i5ffgb6v";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
    </div>
</Layout>
