---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allBlogs = await getCollection("blogs");
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp" />
    </div>
    <hr />
    <p>
        These are my blogs which though of writing form long back and writing
        now 😅. I write only about the things which I find cool, Intresting,
        useful for others on programming, my personal lifestyle and more so keep
        update and get ready to read
    </p>
    <hr />
    <h2>Blogs</h2>
    <ul role="list" class="link-card-grid">
        <!-- <Card
            url="../content/blogs/blog-1.md"
            image="/blog-post.webp"
            title="Blog 1"
            body="How i build this website"
        />
        <Card
            url="https://medium.com/"
            image="/blog-post.webp"
            title="Blog 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://medium.com/"
            image="/blog-post.webp"
            title="Blog 3"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://medium.com/"
            image="/blog-post.webp"
            title="Blog 4"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        /> -->
        {
            allBlogs.map((card) => (
                <Card
                    url={`/blogs/${card.slug}/`}
                    image={card.data.image && card.data.image.url}
                    title={card.data.title}
                    body={card.data.description}
                />
            ))
        }
    </ul>
    <!-- <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/"
            image="/youtube.webp"
            title="Video 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://www.youtube.com/"
            image="/youtube.webp"
            title="Video 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul> -->
    <!-- <div>
        Start of Tawk.to Script
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src =
                    "https://embed.tawk.to/66c03f870cca4f8a7a77030d/1i5ffgb6v";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        End of Tawk.to Script
    </div> -->
</Layout>
